@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Mono&display=swap'); 

@theme {
    --font-geist: "Geist", sans-serif;
    --font-liber: "Libertinus Mono", monospace;
    
    --breakpoint-lg: initial;
    --breakpoint-lg: 1450px;
}

body {
  overflow-x: hidden;
  max-width: 100vw;
}